server:
  port: 5000

spring:
  application:
    name: GATEWAY-SERVER

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # MAIN ROUTES (unchanged)
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**,/api/users/**,/api/admin/users/**,/users/**

        - id: SALON-SERVICE
          uri: lb://SALON-SERVICE
          predicates:
            - Path=/api/salon/**,/salon/**,/api/admin/salon/**

        - id: CATEGORY-SERVICE
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/api/categories/**

        - id: SERVICE-OFFERING
          uri: lb://SERVICE-OFFERING
          predicates:
            - Path=/api/service-offerings/**

        - id: BOOKING-SERVICE
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**

        - id: PAYMENT-SERVICE
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**

        - id: NOTIFICATIONS-SERVICE
          uri: lb://NOTIFICATIONS-SERVICE
          predicates:
            - Path=/api/notifications/**


        # ----------------------------------------------------
        # SWAGGER ROUTES (NEW & CORRECTLY MAPPED)
        # ----------------------------------------------------
        - id: USER-SERVICE-SWAGGER
          uri: lb://USER-SERVICE
          predicates:
            - Path=/v3/api-docs/user
          filters:
            - RewritePath=/v3/api-docs/user, /v3/api-docs

        - id: SALON-SERVICE-SWAGGER
          uri: lb://SALON-SERVICE
          predicates:
            - Path=/v3/api-docs/salon
          filters:
            - RewritePath=/v3/api-docs/salon, /v3/api-docs

        - id: CATEGORY-SERVICE-SWAGGER
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/v3/api-docs/category
          filters:
            - RewritePath=/v3/api-docs/category, /v3/api-docs

        - id: SERVICE-OFFERING-SWAGGER
          uri: lb://SERVICE-OFFERING
          predicates:
            - Path=/v3/api-docs/service-offering
          filters:
            - RewritePath=/v3/api-docs/service-offering, /v3/api-docs

        - id: BOOKING-SERVICE-SWAGGER
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/v3/api-docs/booking
          filters:
            - RewritePath=/v3/api-docs/booking, /v3/api-docs

        - id: PAYMENT-SERVICE-SWAGGER
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/v3/api-docs/payment
          filters:
            - RewritePath=/v3/api-docs/payment, /v3/api-docs

        - id: NOTIFICATION-SERVICE-SWAGGER
          uri: lb://NOTIFICATIONS-SERVICE
          predicates:
            - Path=/v3/api-docs/notification
          filters:
            - RewritePath=/v3/api-docs/notification, /v3/api-docs

        # ----------------------------------------------------
        # ACTUATOR ROUTES (PROXY THROUGH GATEWAY)
        # ----------------------------------------------------
        - id: USER-SERVICE-ACTUATOR
          uri: lb://USER-SERVICE
          predicates:
            - Path=/actuator/user/**
          filters:
            - RewritePath=/actuator/user/(?<path>.*), /actuator/${path}

        - id: SALON-SERVICE-ACTUATOR
          uri: lb://SALON-SERVICE
          predicates:
            - Path=/actuator/salon/**
          filters:
            - RewritePath=/actuator/salon/(?<path>.*), /actuator/${path}

        - id: CATEGORY-SERVICE-ACTUATOR
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/actuator/category/**
          filters:
            - RewritePath=/actuator/category/(?<path>.*), /actuator/${path}

        - id: SERVICE-OFFERING-ACTUATOR
          uri: lb://SERVICE-OFFERING
          predicates:
            - Path=/actuator/service-offering/**
          filters:
            - RewritePath=/actuator/service-offering/(?<path>.*), /actuator/${path}

        - id: BOOKING-SERVICE-ACTUATOR
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/actuator/booking/**
          filters:
            - RewritePath=/actuator/booking/(?<path>.*), /actuator/${path}

        - id: PAYMENT-SERVICE-ACTUATOR
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/actuator/payment/**
          filters:
            - RewritePath=/actuator/payment/(?<path>.*), /actuator/${path}

        - id: NOTIFICATION-SERVICE-ACTUATOR
          uri: lb://NOTIFICATIONS-SERVICE
          predicates:
            - Path=/actuator/notification/**
          filters:
            - RewritePath=/actuator/notification/(?<path>.*), /actuator/${path}


  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: "http://localhost:8080/realms/master/protocol/openid-connect/certs"

  boot:
    admin:
      client:
        url: http://localhost:1111
        instance:
          prefer-ip: true


springdoc:
  swagger-ui:
    urls:
      - name: User Service
        url: /v3/api-docs/user
      - name: Salon Service
        url: /v3/api-docs/salon
      - name: Category Service
        url: /v3/api-docs/category
      - name: Service Offering Service
        url: /v3/api-docs/service-offering
      - name: Booking Service
        url: /v3/api-docs/booking
      - name: Payment Service
        url: /v3/api-docs/payment
      - name: Notification Service
        url: /v3/api-docs/notification




eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always