server:
  port: 1111

spring:
  application:
    name: ADMIN-SERVER

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true


management:
  endpoints:
    web:
      exposure:
        include: "*"
