server:
  port: 5006

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:mysql://localhost:3306/paymentdb?createDatabaseIfNotExist=true
    username: root
    password: ankur@1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    compatibility-verifier:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    port: 5672
    host: localhost
    username: guest
    password: guest

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true

razorpay:
  api:
    key: "rzp_test_RgrmmB4AwmKc4Y"
    secret: "uvv5IF2s9XM75buJXN4vfi1B"

stripe:
  api:
    key: "YOUR_STRIPE_KEY"
