services:

  userdb:
    image: mysql
    container_name: userdb
    ports:
      - "3301:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: userdb
    networks:
      - yoho
    restart: always

  bookingdb:
    image: mysql
    container_name: bookingdb
    ports:
      - "3302:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: bookingdb
    networks:
      - yoho
    restart: always

  categorydb:
    image: mysql
    container_name: categorydb
    ports:
      - "3303:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: categorydb
    networks:
      - yoho
    restart: always

  paymentdb:
    image: mysql
    container_name: paymentdb
    ports:
      - "3304:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: paymentdb
    networks:
      - yoho
    restart: always

  salondb:
    image: mysql
    container_name: salondb
    ports:
      - "3305:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: salondb
    networks:
      - yoho
    restart: always

  servicesdb:
    image: mysql
    container_name: servicesdb
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pDeepak@32 --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: Deepak@32
      MYSQL_DATABASE: servicesdb
    networks:
      - yoho
    restart: always

  eurekaserver:
    image: "deepakyadav32/salon-eurekaserver:v1"
    ports:
      - "8070:8070"
    healthcheck:
      test: ["CMD-SHELL","curl -f http://localhost:8070/actuator/health || exit 1"]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: eurekaserver

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  user:
    image: "deepakyadav32/salon-user:v1"
    ports:
      - "5001:5001"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5001/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: user
    depends_on:
      userdb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: user-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://userdb:3306/userdb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  booking:
    image: "deepakyadav32/salon-booking:v1"
    ports:
      - "5005:5005"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5005/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: booking
    depends_on:
      bookingdb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: booking-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://bookingdb:3306/bookingdb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  category:
    image: "deepakyadav32/salon-category:v1"
    ports:
      - "5003:5003"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5003/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: category
    depends_on:
      categorydb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: category-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://categorydb:3306/categorydb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  payment:
    image: "deepakyadav32/salon-payment:v1"
    ports:
      - "5006:5006"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5006/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: payment
    depends_on:
      paymentdb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: payment-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://paymentdb:3306/paymentdb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  salon:
    image: "deepakyadav32/salon-salon:v1"
    ports:
      - "5002:5002"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5002/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: salon
    depends_on:
      salondb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: salon-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://salondb:3306/salondb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  service-offering:
    image: "deepakyadav32/salon-service-offering:v1"
    ports:
      - "5004:5004"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5004/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: service-offering
    depends_on:
      servicesdb:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: service-offering-service
      SPRING_DATASOURCE_URL: "jdbc:mysql://servicesdb:3306/servicesdb"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Deepak@32
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8070/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

  gatewayserver:
    image: "deepakyadav32/salon-gatewayserver:v1"
    ports:
      - "5000:5000"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:5000/actuator/health || exit 1" ]
      interval: 10s       # check every 30 seconds
      timeout: 5s        # fail if takes longer than 10 seconds
      retries: 10          # mark container unhealthy after 3 failed checks
      start_period: 10s   # wait before starting health checks
    container_name: gatewayserver
    
    environment:
      SPRING_APPLICATION_NAME: GATEWAY-SERVER 
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8761/eureka/

    deploy:
      resources:
        limits:
          memory: 700m
    networks:
      - yoho
    restart: always

networks:
  yoho:
    driver: "bridge"