server:
  port: 5004

spring:
  application:
    name: service-offering
  datasource:
    url: jdbc:mysql://localhost:3306/servicesdb?createDatabaseIfNotExist=true
    username: root
    password: ankur@1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    compatibility-verifier:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha