server:
  port: 5002

spring:
  application:
    name: salon-service
  datasource:
    url: jdbc:mysql://localhost:3306/salondb?createDatabaseIfNotExist=true
    username: root
    password: ankur@1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    compatibility-verifier:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  boot:
    admin:
      client:
        url: http://localhost:1111
        instance:
          prefer-ip: true
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always